<template name="Apps_List">
    <div class="container">
        <p>进程列表</p>
        <div class="row">
            <div class="col-md-2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>应用名</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each apps}}
                        <tr>
                            <td>{{appName}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>


